*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
   font-family: "Proxima Nova",  Helvetica, Arial;
  font-weight: lighter;
}
.clear{
  clear: both;
}
.icon{
  font-size: 5rem;
  color:rgb(201, 144, 39)
}