 h1 {
    color:rgb(47, 53, 47);
    font-weight: 800;
}
.cta-head{
    background-color: #ffffff !important;
}
.cta-head-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(47, 168, 47);
}
 .icon-1{
    border:1px solid rgb(214, 210, 210) !important;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border-radius: 5px;
    text-align: center;
}
.about1{
    background-color: rgb(48, 66, 92);
}
.img-fluid{
    border-radius: 10px;
}
label{
    font-size:34px;
    color:#ffffff;
    font-weight: 800;
}
ol li {
    color:#ffffff;
    font-weight: 800;
    padding-top: 20px;


}